# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List of popular languages used by Data Scientists
- List of commonly used libraries
- List of Data Science tools used by Data Scientists
- Examples of evaluation of arithmetic expressions

Some of the popular languages that Data Scientist use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. Seaborn
5. Keras
6. Scikit-learn
7. Tensorflow

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|R Studio|
|GitHub|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# Here is an example of evaluating arithmetic expression which first multiply 3 and 4, then add 5 to it.
(3*4)+5

17

In [2]:
# This will convert 200 minuted into hours by dividing by 60
200/60

3.3333333333333335

## Author

Pratik Hingnekar